
.moviesContainer{
    position: relative;
    top: 70px;
    display: flex;
    padding: 0 40px;
    margin: 0px auto;
    max-width: 2464px;
    background-color: var(--main-bg-color);
    height: auto;
}


.homeChild{
    background-color: red;
}

@media only screen and (max-width: 900px) {
    .moviesContainer{
        padding: 0px;
        flex-direction: column;
    }

    .moviesContainer .sidebarlef {
        margin-bottom: 20px;
        position: relative;
        top: 0px;
        overflow-y: visible;
    }
    .moviesContainer .sidebarlef .containermaterial {
        margin: 0px;
        
    }
    .moviesContainer .sidebarlef .containermaterial .css-1j9rugx-MuiAutocomplete-root {
        margin: 4px;
    }
    .css-1j9rugx-MuiAutocomplete-root .MuiOutlinedInput-root{
        padding: 4px !important;
    }

    .moviesContainer .sidebarlef  .searchLabel{
        padding: 8px 18px;
        margin: 15px 5px 0px 5px;
    }

    .moviesContainer .sidebarlef  .containermaterial.movil{
        display: none;
    }
    .moviesContainer .containermaterial  .css-1urw8bq{
        margin-bottom: 0px;    
    }
 }
 