.home {
   /* background: var(--main-bg-color); */
}

.homeContainer {
   position: relative;
   top: 70px;
   display: flex;
   padding: 0 40px;
   margin: 0px auto;
   max-width: 2464px;
   background-color: var(--main-bg-color);
   height: auto;
}

.homeChild {
   background-color: red;
}

@media only screen and (max-width: 1100px) {
   .home .sidebarlef {
      display: none;
   }
}

@media only screen and (max-width: 900px) {
   .home .sidebarright {
      display: none;
   }
}
