.capitulos{
    position: absolute;
    top: 70px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--main-bg-color);
    min-height: calc(100vh - 70px);
}

.contentCapitulos{
    width: 70%;
 
}

.capitulosCard{
    width: 18%;
 }
 


@media only screen and (max-width: 900px) {
    .contentCapitulos{
        width: 100%;
    }
 }
 