.view{
    position: relative;
    top: 70px;
    display: flex;
    padding: 0 40px;
    max-width: 2464px;
    background-color: var(--main-bg-color);
    height: auto;
    flex-wrap: wrap;
    gap: 1rem;
    min-height: calc( 100vh - 70px );
}


@media only screen and (max-width: 900px) {
    .view{
       padding: 0px;
    }
 }