.movieContent {
   flex: 6.2;
   margin: 20px;
   margin-left: 40px;

}

.movieContentFlex {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

@media only screen and (max-width: 900px) {
   .movieContent{
       margin: 0px;
   }
 }
 