.ultimosCap{
    color: var(--main-word-color);
    margin-top: 20px;
    background-color: #2d333aab;
    padding: 15px;
    border-radius: 15px;
}

.ultimoCapTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}



.ultimoCapTitle .link {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    color: var(--main-first-color);
    font-weight: 700;
}
.ultimoCapTitle .link .icon{
    transition: all .8s ease;
}

.ultimoCapTitle .link:hover .icon{
    transform: translateX(8px);
    transition: all .5s ease;
}

.ultimosCapContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ultimoCapCard{
   width: 23%;
   /* flex: 1 0 14rem; */
    height: 120px;
    position: relative;
    margin: 1% 1%;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    
}


.ultimoCapCard .cardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 10px;
    transition: transform .8s ease;
    filter: brightness(95%);
}

.ultimoCapCard:hover .cardImg{
    filter: brightness(50%);
    transform: scale(1.2);
    transition: transform 1s ease;
}

.ultimoCapCard .cardTitle{
    position: absolute;
    bottom: 5px;
    width: 100%;padding: 0px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--main-word-color);
    font-weight: 500;
    background-color: rgba(49, 47, 47, 0.452);
  
}

.ultimoCapCard .cardTitleCap{
    position: absolute;
    top: 10px;
    background-color: #6606a782;
    color: white;
    font-size: .8rem;
    border-radius: 10px;
    padding: 2px 6px;

}

.ultimoCapCard .cardCapitulo{
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: 700;

}


@media only screen and (max-width: 900px) {

    .animesListItem{
        padding: 0px 5px;
        font-size: .95rem;
    }
    .ultimoCapCard{
        flex: 1 0 8rem;
        font-size: .8rem;
    }
}
